<div class="login-wrapper">
  <form class="login">
    <section class="title">
      <h3 class="welcome">QEMS3 Registration</h3>
      <h5 class="hint">Create an account</h5>
    </section>
    <div class="login-group">
      <clr-input-container>
        <input clrInput type="text" [(ngModel)]="username" placeholder="Username" name="username" />
      </clr-input-container>
      <clr-input-container>
        <input clrInput type="text" [(ngModel)]="email" placeholder="Email" name="email" />
      </clr-input-container>
      <clr-password-container>
        <input clrPassword type="password" [(ngModel)]="password1" placeholder="Enter Password" name="password1" />
      </clr-password-container>
      <clr-password-container>
        <input clrPassword type="password" [(ngModel)]="password2" placeholder="Re-enter Password" name="password2" />
      </clr-password-container>
      
      <button type="button" class="btn btn-primary" (click)="register()">Register</button>
    </div>
  </form>
</div>