<nav class="sidenav">
  <section class="sidenav-content">
    <a class="nav-link" (click)="modal.open()">
      <clr-icon shape="plus-circle"></clr-icon> New Distribution
    </a>
    <section class="nav-group collapsible">
      <input id="distributions" type="checkbox">
      <label for="distributions">Distributions</label>
      <ul class="nav-list">
        <li *ngFor="let dist of distributions">
          <a [routerLink]="['/distributions' , dist.id]" class="nav-link" routerLinkActive="active">
            {{ dist.name }}
          </a>
        </li>
      </ul>
    </section>
  </section>
</nav>
<new-distribution-modal></new-distribution-modal>