{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://unpkg.com/@clr/ui/clr-ui.min.css" />
    <style>
      .jumbotron {
        background-color: #e6ffe6;
        text-align: center;
      }
    </style>
    <script src="{% static 'elm.js' %}"></script>
  </head>

  <body>
    <div id="elm-app-is-loaded-here"></div>
    <script>
      var app = Elm.Main.init({
        node: document.getElementById("elm-app-is-loaded-here")
      });      
    </script>
  </body>
</html>
