{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://unpkg.com/@clr/ui/clr-ui.min.css" />
    <style>
      .jumbotron {
        background-color: #e6ffe6;
        text-align: center;
      }
    </style>
    <script src="{% static 'elm.js' %}"></script>
  </head>

  <body>
    <script type="module" src="{% static 'js/js.cookie.js' %}"></script>
    <script type="module">
      import Cookies from '{% static 'js/js.cookie.js' %}'

      var csrf = Cookies.get('csrftoken')
      console.log(csrf)

      var app = Elm.Main.init({
        flags: {csrftoken: csrf}
      });      
    </script>
  </body>
</html>
