<nav class="sidenav">
  <section class="sidenav-content">
    <a class="nav-link" (click)="modal.open()">
      <clr-icon shape="plus-circle"></clr-icon> New Set
    </a>
    <section class="nav-group collapsible">
      <input id="upcoming-sets" type="checkbox">
      <label for="upcoming-sets">Upcoming Sets</label>
      <ul class="nav-list">
        <li><a href="#" class="nav-link">set 1</a></li>
        <li><a href="#" class="nav-link">set 2</a></li>
      </ul>
    </section>
    <section class="nav-group collapsible">
      <input id="completed-sets" type="checkbox">
      <label for="completed-sets">Completed Sets</label>
      <ul class="nav-list">
        <li><a href="#" class="nav-link">set A</a></li>
        <li><a href="#" class="nav-link">set B</a></li>
      </ul>
    </section> 
  </section>
</nav>
<new-tournament-modal></new-tournament-modal>