<div class="main-container">
  <header class="header header-6">
    <div class="branding">
      <a routerLink="/">
        <span class="title">QEMS3</span>
      </a>
    </div>
    <div class="header-nav">
      <a routerLink="/sets" class="nav-link" routerLinkActive="active"><span class="nav-text">Sets</span></a>
      <a routerLink="/distributions" class="nav-link" routerLinkActive="active"><span class="nav-text">Distributions</span></a>
    </div>
    <div class="header-actions">
      <a routerLink="/login" class="nav-link nav-icon">Login</a>
      <a routerLink="/register" class="nav-link nav-icon">Register</a>
    </div>
  </header>
  <router-outlet></router-outlet>
</div>